.vote-confirm {
  width: 545px;
  padding: 40px 57.5px;

  .vote-header {
    display: flex;
    align-items: center;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      margin-right: 15px;
    }

    .info {
      color: #888;
      font-size: 28px;
      font-weight: 400;
      line-height: 40px;

      .name {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          max-width: 100px;
        }
      }

      span {
        color: #FFF;
        font-weight: 600;
      }
    }


  }

  .vote-item {
    width: 100%;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }

  .line {
    width: calc(100% + 40px);
    height: 1px;
    margin-top: 25px;
    background: #2D2E36;
    transform: translateX(-20px);
  }

  button {
    width: 100%;
    margin-top: 30px;
  }
}