.vote-warp {
  position: relative;
  overflow: hidden;
  width: var(--container-width);
  margin: 0 auto;

  .vote-list {
    white-space: nowrap;

    .card {
      display: inline-block;
      z-index: 2;
    }
  }
}