.notice-warp {
  // overflow-x: clip;
  min-width: var(--container-width);
  position: relative;
  transform-style: preserve-3d;
  perspective-origin: center center;

}

.notice-bg {
  min-width: var(--container-width);
  width: 100%;
  height: 80px;
  transform-style: preserve-3d;
  perspective-origin: center;
  transform-origin: center center;
  background: linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  transform: translateZ(40px);
  position: absolute;
}

.notice {
  transform-style: preserve-3d;
  -webkit-perspective: 12000px;
  -moz-perspective: 12000px;
  -ms-perspective: 12000px;
  perspective: 12000px;
  perspective-origin: center;
  position: relative;
  transform-origin: center center 40px;
  // animation: autoRotate 4s infinite ease-in-out;
  // animation-delay: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;


  .notice-content {
    // background: linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    background: transparent;
    // background-color: rgba(0, 0, 0, .2);
    // box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    height: 100%;
    position: absolute;
    width: 100%;


    span:not(:last-child) {
      margin-right: 60px;
    }

    &.front {
      transform: translateZ(80px);
    }

    &.top {
      transform: rotateX(90deg);
      top: 0px;
      transform-origin: top center;
    }

    &.bottom {
      transform: rotateX(-90deg);
      bottom: 0px;
      transform-origin: bottom;
    }

    &.back {
      transform: translateZ(0) rotateX(-180deg);
    }

  }

}

@keyframes autoRotate {
  0% {
    transform: rotateX(0deg);
  }

  20% {
    transform: rotateX(90deg);
  }

  45% {
    transform: rotateX(180deg);
  }

  70% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}