/* 基础颜色 */
$primary-color: #4f60ff;
$regular-color: #a7a7b4;
$success-color: #68d841;
$warning-color: #fb984d;
$highlight-color: #bb534f;
$danger-color: #bb534f;
$placeholder-color: #c0c4cc;
$disabled-color: rgba(#000000, 0.18);

/* 文字颜色 */
$primary-txt-color: #171717;
$regular-txt-color: #a7a7b4;

$secondary-txt-color: #99a1b8;

/* 边框颜色 */
$border-base-color: #f2f2f2;
$border-input-color: #d2d5e1;

/* 分割线 */
$line-color: #f2f2f2;

/* 背景色 */
$bg-color: #f9fafa;

/* 圆角 */
$border-normal-radius: 4px;

/* 链接 */
$link-color: #4f60ff;

/* 标题 */
$h1: 32px;

$h2: 26px; /* 提示性弹框 */
$h3: 24px; /* 输入性弹框 */
$h4: 18px;

$h5: 16px;
$h6: 15px;
$h7: 13px;
