.rank-table {
  table {
    @apply w-full;

    border-collapse: separate;
    border-spacing: 0 1.25rem;
  }

  thead {
    position: sticky;
    top: 0;
    @apply bg-gray-9;
  }

  thead th {
    &:first-child {
      text-align: left;
    }

    @apply text-sm text-center;

    color: #9c99ae;
  }

  tbody tr {
    @apply bg-white/[0.06] mb-5;

    height: 104px;

    td:first-child {
      @apply rounded-l-xl;
    }

    td:last-child {
      @apply rounded-r-xl;
    }

    *[title="No Data"] {
      text-align: center;
    }
  }
}